#customer-container h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

#customer-wrapper{
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color: rgb(253, 243, 243);
}
#customer-img img{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #ff3300;
    margin: 0 auto;
}